html {
    font-size: 62.5%;

body {
    margin: 0;
    background-color: #f7f7f7;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}
.bold {
    font-weight: bold;
}
header {
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header img {
    max-height: 40px;
    margin: 5px 0;
    text-align: left;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
    font-size: 1.6rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    border-bottom: 1px solid black;
}
@media screen and (max-width:480px) {
    nav {
        display: none;
    }
    nav ul li {
        display: block;
    }
}

.subTitle {
    position: relative;
    width: 100%;
    height: 40vh;
    min-height: 340px;
    background-image: url(../image/IMG_8444.jpg);
    background-size: cover;
    background-position: center;
}
.subTitle h1 {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 2.2rem;
}
.subTitle p {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    background: rgba(255, 255, 255, 25%);
    margin: 0 auto;
}
@media screen and (min-width:781px) {
    .subTitle {
        height: 768px;
    }
    .subTitle h1 {
        font-size: 3.2rem;
    }
    .subTitle p {
        top: 85%;
        font-size: 2.5rem;
    }
    .subTitle br {
        display: none;
    }
}

#section-0 {
    position: relative;
    width: 100%;
    height: 30vh;
    min-height: 243px;
    box-sizing: border-box;
    padding: 0rem 1.0rem;
}
#section-0 h2 {
    position: absolute;
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 2.0rem;
}
#section-0 ul {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 85%;
    text-align: left;
    margin: 0;
    padding-left: 5%;
    font-size: 1.6rem;
    list-style-type: none;
}
#section-0 ul li {
    padding-top: 2rem;
    padding-left: 1rem;
}
#section-0 ul li:before {
    position: absolute;
    content: "★";
    left : 0;
    color: #ffb03f;
}
@media screen and (min-width:781px) {
    #section-0 {
        height: 40vh;
        max-height: 315px;
    }
    #section-0 h2 {
        font-size: 2.8rem;
    }
    #section-0 ul {
        top: 30%;
        left: 20%;
        width: 55%;
        font-size: 2.0rem;
        list-style-type: none;
        padding-left: 5%;
    }
    #section-0 ul li:before {
        left : 5%;
    }
    #section-0 br {
        display: none;
    }
}

#section-1 {
    position: relative;
    width: 100%;
    height: 235vh;
    min-height: 1909px;
    box-sizing: border-box;
    padding: 0rem 1.0rem;
}
#section-1 h2 {
    position: absolute;
    left: 30%;
    width: 40%;
    text-align: center;
    font-size: 2.0rem;
}
#section-1 ul {
    padding-left: 2.0rem;
    padding-bottom: 0.5rem;
}
.plan {
    position: absolute;
    top: 4%;
    width: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3.0rem;
}
.entry {
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    margin: 0;
    padding: 2.0rem 2.0rem 0.1rem;
    font-size: 1.6rem;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}
.entryTitle {
    margin: 0;
    font-size: 1.8rem;
    color: green;
}
.entry h4 {
    font-size: 1.8rem;
}
.light {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    padding: 2.0rem 2.0rem 0.1rem;
    font-size: 1.6rem;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}
.lightTitle {
    margin: 0;
    font-size: 1.8rem;
    color: blue;
}
.light h4 {
    font-size: 1.8rem;
}
.basic {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: left;
    padding: 2.0rem 2.0rem 0.1rem;
    font-size: 1.6rem;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}
.basicTitle {
    margin: 0;
    font-size: 1.8rem;
    color: red;
}
.basic h4 {
    font-size: 1.8rem;
}
@media screen and (min-width:781px) {
    #section-1 {
        height: 230vh;
        min-height: initial;
        max-height: 1800px;
        padding: 0;
    }
    #section-1 h2 {
        font-size: 2.8rem;
    }
    #section-1 br {
        display: none;
    }
    .plan {
        top: 5%;
        left: 23%;
        width: 54%;
    }
}

#section-2 {
    position: relative;
    width: 100%;
    height: 165vh;
    min-height: 1330px;
    box-sizing: border-box;
    padding: 0rem 1.0rem;
}
#section-2 h2 {
    position: absolute;
    left: 30%;
    width: 40%;
    text-align: center;
    font-size: 2.0rem;
}
#section-2 ol {
    padding-left: 3.0rem;
}
.add {
    position: absolute;
    top: 4%;
    width: 95%;
    display: flex;
    flex-direction: column;
}
.hotWax {
    width: 84%;
    text-align: left;
    margin: 0 auto;
    padding: 1.0rem;
    font-size: 1.6rem;
    border-bottom: solid 0.1rem black;
}
.addItem {
    width: 84%;
    text-align: left;
    margin: 0 auto;
    padding: 1.0rem;
    font-size: 1.6rem;
    border-bottom: solid 0.1rem black;
}
.delivery {
    width: 84%;
    text-align: left;
    margin: 0 auto;
    padding: 1.0rem;
    font-size: 1.6rem;
    border-bottom: solid 0.1rem black;
}
.baseWax {
    width: 84%;
    text-align: left;
    margin: 0 auto;
    padding: 1.0rem;
    font-size: 1.6rem;
}
@media screen and (min-width:781px) {
    #section-2 {
        height: 150vh;
        min-height: initial;
        max-height: 1200px;
        padding: 0;
    }
    #section-2 h2 {
        font-size: 2.8rem;
    }
    #section-2 br {
        display: none;
    }
    .add {
        top: 7%;
        left: 23%;
        width: 54%;
    }
}

#section-3 {
    position: relative;
    width: 100%;
    height: 225vh;
    min-height: 1827px;
    box-sizing: border-box;
    padding: 0rem 1.0rem;
}
#section-3 h2 {
    position: absolute;
    left: 30%;
    width: 40%;
    text-align: center;
    font-size: 2.0rem;
}
.flow {
    position: absolute;
    top: 6rem;
    width: 95%;
}
.flow .step {
    margin: 0 auto 3.3rem;
    padding: 2.0rem;
    border: 0.2rem solid black;
    background-color: white;
    position: relative;
}
.flow .step:last-child{
    margin: 0;
}
.flow .step:before,
.flow .step:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
}
.flow .step:before {
    border: 15px solid transparent;
    border-top: 15px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    bottom: -30px;
    left: 50%;
    margin-left: -20px;
}
.flow .step:after {
    border: 15px solid transparent;
    border-top: 15px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    bottom: -27px;
    left: 50%;
    margin-left: -20px;
}
.flow .step:last-child:before,
.flow .step:last-child:after {
    border: none;
}
.step h3 {
    font-size: 2.0rem;
    margin-top: 0;
    margin-bottom: 2.0rem;
    padding-bottom: 1.0rem;
    border-bottom: solid 0.2rem black;
}
.step p {
    font-size: 1.6rem;
    margin: 0;
}
.step dl {
    font-size: 1.6rem;
    margin: 0;
}
.step dl dd {
    margin-bottom: 2.0rem;
}
.flow .step img {
    max-width: 100%;
    height: auto;
    margin-top: 2.0rem;
}
@media screen and (min-width:781px) {
    #section-3 {
        height: 165vh;
        min-height: initial;
        max-height: 1400px;
        padding: 0;
    }
    #section-3 h2 {
        font-size: 2.8rem;
    }
    .flow {
        top: 7%;
        left: 23%;
        width: 54%;
        position: relative;
    }
    .flow .step img {
        position: absolute;
        top: 0%;
        left: 63%;
        max-width: 35%;
        height: auto;
    }
    .step h3 {
        width: 60%;
    }
    .step dl {
        width: 60%;
    }
}

#section-4 {
    position: relative;
    width: 100%;
    height: 85vh;
    min-height: 690px;
    box-sizing: border-box;
    padding: 0rem 1.0rem;
}
#section-4 h2 {
    position: absolute;
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 2.0rem;
}
.gift {
    position: absolute;
    top: 6.0rem;
    width: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.campaign{
    text-align: center;
    padding-bottom: 2.0rem;
}
.campaign img {
    width: 80px;
    height: 80px;
    margin: 2.0rem;
}
.campaign h3 {
    font-size: 2.0rem;
    margin-top: 0;
}
.campaign p {
    font-size: 1.6rem;
    margin: 0 auto;
}
@media screen and (min-width:781px) {
    #section-4 {
        height: 60vh;
        min-height: initial;
        max-height: 500px;
        padding: 0;
    }
    #section-4 h2 {
        font-size: 2.8rem;
    }
    .gift {
        top: 20%;
        left: 23%;
        width: 54%;
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
    }
}

#section-5 {
    position: relative;
    width: 95%;
    height: 50vh;
    min-height: 406px;
    box-sizing: border-box;
    margin: 2.0rem 1.0rem;
    border: double 10px black;
    background-color: white;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
#section-5 h2 {
    position: absolute;
    left: 30%;
    width: 40%;
    text-align: center;
    font-size: 2.0rem;
}
.howTo {
    position: absolute;
    top: 6.0rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 0rem 1.0rem;
}
.btn {
    display: inline-block;
    margin: 1.6rem 0;
    padding: 10px 20px;
    border-radius: 30.0rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    background-color: #1dcd00;
}
@media screen and (min-width:781px) {
    #section-5 {
        height: 50vh;
        min-height: initial;
        max-height: 400px;
        left: 21.5%;
        width: 55.5%;
        padding: 0;
    }
    #section-5 h2 {
        font-size: 2.8rem;
    }
    .howTo {
        top: 25%;
    }
    .btn:hover {
    background-color: #4dfd30;
    }
}

#section-6 {
    position: relative;
    width: 100%;
    height: 70vh;
    min-height: 570px;
    box-sizing: border-box;
    padding: 0rem 1.0rem;
}
#section-6 h2 {
    position: absolute;
    left: 20%;
    width: 60%;
    text-align: center;
    font-size: 2.0rem;
}
.timeAddress {
    position: absolute;
    top: 6.0rem;
    width: 95%;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
}
.map {
    position: relative;
    top: 20.0rem;
    padding-top: 1.6rem;
}
@media screen and (min-width:781px) {
    #section-6 {
        height: 80vh;
        min-height: initial;
        max-height: 600px;
        left: 23%;
        width: 54%;
        padding: 0;
    }
    #section-6 h2 {
        font-size: 2.8rem;
    }
    .timeAddress {
        top: 12%;
        width: 100%;
    }
}

#section-7 {
    position: relative;
    width: 100%;
    height: 20vh;
    min-height: 163px;
    box-sizing: border-box;
    padding: 0rem 1.0rem;
}
#section-7 ul {
    position: absolute;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.8rem;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
#section-7 ul li {
    margin: 10px;
}
#section-7 ul li a{
    display: block;
    text-decoration: none;
    color: #00BCD4;
    width: 100px;
    background: #ECECEC;
    padding: 1.0rem;
}
@media screen and (min-width:781px) {
    #section-7 {
        height: 10vh;
        min-height: initial;
        max-height: 80px;
        left: 23%;
        width: 54%;
        padding: 0;
    }
    #section-7 ul {
        width: 100%;
        box-sizing: border-box;
        justify-content: space-around;
        margin: 0;
    }
    #section-7 ul li a:hover{
        background: #00bcd4;
        color: white;
    }
}

footer {
    font-size: 1.4rem;
    text-align: right;
    padding-top: 1.0rem;
}
footer p {
    padding-right: 1.0rem;
}
